$texto: #0f1d2b;
$cor: #c8102e;
$border: #e0e0e0;

@mixin flex($flex-direction){
    display: flex;
    flex-direction: $flex-direction;
    justify-content: center;
    align-items: center;
}

@mixin butao($tam1, $tam2){
    color: #ffffff;
    background-color: $cor;
    border: none;
    padding: $tam1 $tam2; 
    font-weight: bolder;
}
@mixin borders(){
    width: 90%;
    padding-bottom: 72px;
    border-bottom: 1px solid $border;    
    @media (min-width: 750px){
        padding-bottom: 120px;
        width: 60%;
        max-width: 1000px;
    }   
}

body{
    padding: 0;
    margin: 0;
    font-family: "TiemposText",serif;
}
.wrapper{
    max-width: 100%;
    box-sizing: border-box;
    @include flex(column);
    nav{
        width: 100vw;
        max-width: 100%;
        height: auto;
        position: sticky;
        z-index: 1000;
        background-color: #ffffff;
        top: 0;
        border-bottom: 1px solid $border;
        .logo{
            width: 96px;
            height: 36px;
            @media screen and (min-width: 1280px){margin-right: 30px;}
        }
        .navigation{
            padding: 15px;
            @media screen and (min-width: 1280px){padding: 25px;}
            @include flex(row);
            flex-wrap: wrap;
            font-family: "Futura",sans-serif;
            .nav-pc{
                display: none;
                text-indent: 60px;
                padding: 0;
                list-style-type: none;
                font-weight: bolder;
                margin: 0 50px;
                a{
                    color: $texto;
                    text-decoration: none;
                    &:hover{color: $cor;}
                }
                @media screen and (min-width: 1280px){@include flex(row);}
            }
            .push{
                display: flex;
                align-items: center;

                margin-left: 30px;
                @media screen and (max-width:1279px){margin-left: auto;}
                svg{
                    display: none;
                    @media screen and (min-width: 1280px){
                        display: block;
                        margin-right: 40px;
                    }
                }
                .doar{
                    @include butao(1em, 1.75em);
                    &:hover{
                        background-color: #e51232;
                        cursor: pointer;
                    }
                }
                span{
                    width: fit-content;
                    height: fit-content;
                    font-size: 1.5em;
                    font-weight: 750;
                    margin-left: 10px;
                    @media screen and (min-width: 1280px){display: none;}
                }
            }
        }
    }
    main{
        width: 100vw;
        max-width: 100%;
        @include flex(column);
        .join{
            margin-bottom: 80px;
            @include flex(column);
            flex-wrap: wrap;
            @media screen and (min-width: 1280px){flex-direction: row;}
            .mulher{
                width: 100%;
                height: auto;
                max-width: 912px;
                @media screen and (min-width: 1280px){
                    width: 61vw;
                }
            }
            .gift{
                z-index: 10;
                background-color: #fff8eb;
                @include flex(column);
                align-items: flex-start;
                max-width: 592px;
                margin-top: -24px;
                padding: 4.5%;
                @media screen and (min-width: 351px) and (max-width: 799px){
                    margin-left: 24px;
                    margin-right: 24px;
                }
                @media screen and (max-width:899px) and (min-width:800px){
                    margin-left: 24px;
                    margin-right: 24px;
                    padding: 3.5%;
                }
                @media screen and (min-width:900px) and (max-width: 1299px){padding: 28px;}
                @media screen and (min-width: 1300px){
                    box-sizing: border-box;
                    position:relative;
                    order: -1;
                    max-width: 592px;
                    margin-right: -100px;
                    margin-bottom: -24px;
                }
                h1{
                    margin-top: 0;
                    font-size: 2.3em;
                }
                p{
                    margin-top: 0;
                    font-size: 1.4em
                }
                a{
                    button{
                        &:hover{
                            background-color: #e51232;
                            cursor: pointer;
                        }
                        font-size: 1.125em;
                        @include butao(1em, 1.75em);
                    }
                }
            }
        }
        .container-global{
            @include flex(column);
            max-width: 1150px;
            margin-bottom: 80px;
            @media (min-width: 750px){padding: 64px 0;}
            @media screen and (min-width: 1280px){
                border-bottom: 1px solid $border;
                border-top: 1px solid $border;
            }
            h1:nth-child(1){
                width: 70%;
                text-align: center;
                font-size: 1.8em;
                margin-top: 0;
                margin-bottom: 64px;
                @media screen and (min-width: 1280px){
                    font-size: 2.6em;
                }
            }
            .global{
                box-sizing: border-box;
                padding: 0 20px;
                list-style-type: none;
                margin: 0;
                @include flex(row);
                align-items: flex-start;
                flex-wrap: wrap; 
                h1{
                    width: fit-content;
                    margin: 0;
                }
                li{
                    box-sizing: border-box;
                    width: 50%;
                    padding: 24px;
                    padding-top: 0;
                    font-size: 1.25em;
                    @media (min-width: 800px){
                        padding: 32px;
                        padding-top: 0;
                        width: 25%;
                    }
                    p{
                        display: flex;
                        flex-direction: row;
                        align-items: baseline;
                        justify-content: flex-start;
                        span:nth-child(1){
                            font-size: 2em;
                            font-weight: bolder;
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
        .featured{
            @include flex(column);
            width: 100%;
            margin-bottom: 80px;
            h1:nth-child(1){
                @media (min-width: 750px){font-size: 2.5em;}
                margin-top: 0;
                margin-bottom: 80px;
            }
            .featured-content{
                @include flex(column);
                @media (min-width: 750px){
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-rows: repeat(2, auto);
                    row-gap: 50px;
                }
                .f-hover{
                    text-decoration: none;
                    color: $texto;
                    &:hover h2{
                        color: $cor;
                        font-weight: bolder;
                    }
                }
                .f-items{
                    margin-bottom: 100px;
                    align-items: flex-start;
                    padding: 0 24px;
                    @media (min-width: 750px){max-width: 357px;}
                    img{
                        width: 100%;
                        height: auto;
                    }
                    p:nth-child(2){
                        margin-bottom: 0;
                    }
                    p:nth-child(4){
                        font-size: 1.35em;
                        margin-top: 0;
                    }
                    a{
                        z-index: 10;
                        button{
                            border: none;
                            background-color: transparent;
                            font-size: 1em;
                            width: fit-content;
                            padding: 0;
                            &:hover{
                                cursor: pointer;
                            }
                            span:nth-child(1){
                                font-size: 0.9em;
                                font-weight: bolder;
                                display: none;
                                @media (min-width: 750px){
                                    display: inline-block;
                                    font-size: 1em;
                                }
                            }
                            span:nth-child(2){
                                font-size: 1.5em;
                            }
                        }  
                    }
                }
            }
            .container-see-stories{
                width: 100%;
                @media (min-width: 750px){@include flex(row);}
                .see-stories{
                    padding: 0 24px;
                    button{
                        font-size: 1.125em;
                        @include butao(1em, 1.75em);
                        background-color: #18a1c3;
                        padding: 7px 15px;
                        padding-top: 0;
                        &:hover{
                            background-color: #00bfee;
                            cursor: pointer;
                        }
                        span{
                            font-size: 2em;
                        }
                    }
                }
            }
            .border1{
                width: 50%;
                padding-bottom: 72px;
                @media (min-width: 750px){
                    padding-bottom: 120px;
                    max-width: 1000px;
                }
                border-bottom: 1px solid $border;
            }
        }
        .press{
            @include flex(column);
            padding: 0 24px;
            padding-bottom: 72px;
            margin-bottom: 72px;
            @media (min-width: 750px){
                padding-bottom: 129px;
                margin-bottom: 120px;
            }
            h1:nth-child(1){
                text-align: center;
                font-size: 1.7em;
                padding: 0 10px;
                margin: 0;
                margin-bottom: 48px;
                @media (min-width: 750px){
                    font-size: 2.5em;
                }
            }
            .press-content{
                @include flex(column);
                @media (min-width: 750px){flex-direction: row;}
                max-width: 1200px;
                margin-bottom: 120px;
                .noticia-hover{
                    color: $texto;
                    text-decoration: none;
                }
                .noticia-hover:hover h2{
                    color: $cor;
                    cursor: pointer;
                }
                .noticia{
                    padding: 32px;
                    background-color: #ecfbfc;
                    height: 100%;
                    @media (min-width: 750px){
                        padding: 64px 48px;
                    }
                    @media(min-width: 1280px){
                        box-sizing: border-box;
                        padding: 64px 48px;
                        padding-left: 144px;
                        max-width: 630px;
                    }
                    p:nth-child(1){
                        font-size: 0.875em;
                        margin-bottom: 0;
                    }
                    h2{
                        margin: 16px 0;
                        @media (min-width: 750px){font-size: 2.5em;}
                    }
                    p:nth-child(3){
                        margin-top: 0;
                        font-size: 1.2em;
                        @media (min-width: 750px){font-size: 1.5em}
                    }
                    a{
                        button{
                            &:hover{cursor: pointer;}
                            @include butao(1em, 1.75em);
                            background-color: transparent;
                            color: #000000;
                            padding: 0;
                            span{display: none;}
                            @media (min-width: 750px){
                                span{display: inline-block;}
                                svg{margin-left: 10px;}
                                font-size: 1.05em;
                                font-weight: bold;
                            }
                        }
                    }

                }
                .container-noticias{
                    @include flex(column);
                    @media (min-width: 750px){
                        padding-left: 48px;
                    }
                    .noticia-espaco{
                        margin-bottom: 64px;
                        @media (min-width: 750px){
                            margin-bottom: 20px;
                            padding-bottom: 32px;
                            border-bottom: 1px solid $border;
                        }
                    }
                    .noticias1{
                        width: 100%;
                        p{font-size: 0.9em;}
                        a{
                            button{
                                &:hover{cursor: pointer;}
                                @include butao(1em, 1.75em);
                                background-color: transparent;
                                color: #000000;
                                padding: 0;
                                font-size: 1.15em;
                                span:nth-child(1){
                                    display: none;
                                    @media (min-width: 750px){display: inline-block;}
                                }
                            }
                        }
                    }
                }
            }
            .container-see-news{
                width: 100%;
                @media (min-width: 750px){@include flex(row);}
                .see-news{
                    button{
                        font-size: 1.125em;
                        @include butao(1em, 1.75em);
                        background-color: #18a1c3;
                        padding: 7px 15px;
                        padding-top: 0;
                        &:hover{
                            background-color: #00bfee;
                            cursor: pointer;
                        }
                        span{
                            font-size: 2em;
                        }
                    }
                }
            }
            .border2{
                @include borders();
            }
        }
        .about-container{
            width: 100%;
            margin-bottom: 80px;
            .about{
                @include flex(column);
                padding: 0 24px;
                .about-items{
                    @include flex(column);
                    @media (min-width: 750px){
                        flex-direction: row;
                        img{
                            max-height: 610px;
                            max-width: 486px;
                            margin-right: 132px;
                        }
                    }
                    max-width: 1200px;
                    margin-bottom: 72px;
                    img{
                        width: 100%;
                        height: auto;
                        @media (min-width: 750px) and (max-width: 1300px){
                            width: 40%;
                            margin-right: 80px;
                        }
                    }
                    div{
                        min-width: 40%;
                        h2{
                            margin-bottom: 24px;
                            @media (min-width: 750px){font-size: 2.3em;}
                        }
                        p{
                            color: $texto;
                            font-size: 1.18em;
                            margin-top: 0;
                            margin-bottom: 30px;
                            @media (min-width: 750px){font-size: 1.5em;}
                        }
                        a{
                            button{
                                &:hover{cursor: pointer;}
                                @include butao(1em, 1.75em);
                                background-color: transparent;
                                color: #000000;
                                padding: 0;
                                font-size: 1.15em;
                            }
                        }
                    }
                }
                .border3{
                    @include borders();
                }
            }   
        }
        .join-us-container{
            width: 100%;
            .join-us{
                @include flex(column);
                padding: 0 24px;
                .join-us-items{
                    @include flex(column);
                    box-sizing: border-box;
                    background-color: #ecfbfc;
                    padding: 48px 32px;
                    width: 100%;
                    max-width: 1200px;
                    @media (min-width: 900px){
                        flex-direction: row;
                        padding: 72px;
                    }
                    h1{
                        margin: 0;
                        margin-bottom: 32px;
                        font-size: 2.3em;
                        @media (min-width: 900px) and (max-width: 1249px){
                            width: 70%;
                            font-size: 2.5em;
                            margin: 0;
                            margin-right: 10px;
                        }
                        @media (min-width: 1250px){
                            width: 70%;
                            font-size: 4.2em;
                            margin: 0;
                        }
                    }
                    .explore{
                        button{
                            font-size: 0.80em;
                            @include butao(1em, 1.75em);
                            background-color: #18a1c3;
                            padding: 7px 15px;
                            padding-top: 0;
                            @media (min-width: 500px){
                                font-size: 1.125em;
                            }
                            @media (min-width: 900px) and (max-width: 1249px){
                                min-width: 260px;
                            }
                            &:hover{
                                background-color: #00bfee;
                                cursor: pointer;
                            }
                            span{
                                font-size: 2em;
                            }
                        }
                    }
                }
                .border4{@include borders();}
                .info{
                    max-width: 690px;
                    font-size: 1.2em;
                    margin: 72px 0;
                    span{font-weight: bolder;}
                    a{color: $cor;}
                }
            }
        }
    }
    footer{
        width: 100%;
        background-color: #f8f8f8;
        @media (min-width: 750px){@include flex(row);}
        .footer-items{
            padding: 40px 24px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            font-family: "Futura",sans-serif;
            a{
                color: $texto;
                text-decoration: none;
            }
            ul{
                list-style-type: none;
                padding: 0;
                margin: 0;
            }
            .lista{
                margin-bottom: 56px;
                width: fit-content;
                li:nth-child(1){
                    font-size: 1.1em;
                    font-weight: bold;
                    margin-bottom: 20px;
                }
                li{
                    font-size: 1.05em;
                    margin: 10px 0;
                    a:hover{color: $cor;}
                }
            }
            .socials{
                padding-bottom: 64px;
                svg{
                    scale: 130%;
                }
                a:nth-child(2){
                    margin: 0 40px;
                }
                a:hover svg path{fill: $cor;}
            }
            .join-email{
                max-width: 620px;
                margin-bottom: 56px;
                input[type="email"]{
                    box-sizing: border-box;
                    width: 100%;
                    max-width: 300px;
                    border: 1px solid #18a1c3;
                    font-size: 1.3em;
                    font-weight: bolder;
                    padding: 15px;
                    &::placeholder{color: #b6c7d4;}
                    
                }
                p{
                    margin: 20px 0;
                    font-size: 0.75em;
                    a{
                        color: #c8102e;
                    }
                }
                .sign-up{
                    font-size: 1.125em;
                    @include butao(0.65em, 0.9em);
                    background-color: #18a1c3;
                    &:hover{
                        background-color: #00bfee;
                        cursor: pointer;
                    }
                }
            }
            .footer-stats{
                display: flex;
                max-width: 272px;
                margin-bottom: 56px;
                img{
                    width: 96px;
                    height: 96px;
                    margin-right: 20px;
                }
                div{
                    box-sizing: border-box;
                    p{
                        margin: 0;
                        margin-bottom: 10px;
                        font-size: 0.875em;
                    }
                    display: flex;
                    flex-direction: column;
                    a{
                        button{
                            &:hover{cursor: pointer;}
                            @include butao(1em, 1.75em);
                            background-color: transparent;
                            color: #000000;
                            padding: 0;
                            font-size: 0.75em;
                        }
                    }
                }
            }
            .lista-fim{
                display: flex;
                flex-direction: column;
                li{
                    font-size: 0.75em;
                    margin: 15px 0;
                    width: fit-content;
                    a:hover{color: $cor;}
                }
                @media (max-width: 749px){
                    .fundo{order: 10;}
                }
            }
            @media (min-width: 750px){
                padding: 40px 76px;
                width: 1200px;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(3, auto);
                .lista:nth-child(1){
                    grid-column: 1/2;
                    grid-row: 1/2;
                }
                .lista:nth-child(2){
                    grid-column: 2/3;
                    grid-row: 1/2;
                }
                .join-email{
                    grid-column: 3/4;
                    grid-row: 1/2;
                    max-width: 300px;
                    margin-left: auto;
                }
                .socials{
                    grid-column: 1/4;
                    grid-row: 2/3;
                }
                .lista-fim{
                    grid-column: 1/3;
                    grid-row: 3/4;
                    li:nth-child(6){
                        margin-top: 48px;
                    }
                }
                .footer-stats{
                    grid-column: 3/4;
                    grid-row: 3/4;
                    max-width: 300px;
                    #stat{
                        width: 80px;
                        height: 80px;
                    }
                    margin-left: auto;
                }
            }
        }
    }
}
//estilos da pagina da doacao
.form-container{
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    @include flex(column);
    form{
        @include flex(column);
        max-width: 350px;
        @media (min-width: 380px){
            border: 1px solid rgb(17, 131, 207);
            border-radius: 10px;
            padding: 15px;
        }
        .Tipo{
            margin-bottom: 25px;
        }
        .quantia{
            text-align: center;
            .Outra{
                input{
                    outline: none;
                    margin-top: 10px;
                }
            }
        }
        .info, .info-mensal{
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 10px;
            margin-bottom: 10px;
            input{
                outline: none;
                border: 1px solid rgb(17, 131, 207);
                background-color: #e8f0fe;
                border-radius: 10px;
                padding: 10px;
            }
        }
        select{
            margin-top: 10px;
            width: 70%;
            text-align: center;
            padding: 5px;
            option:nth-child(1){display: none;}
        }
        input[type="email"]{
            box-sizing: border-box;
            width: 100%;
            border: 1px solid rgb(17, 131, 207);
            background-color: #e8f0fe;
            border-radius: 10px;
            padding: 10px;
            outline: none;
        }
        .partEmp{
            margin-bottom: 15px;
        }
        .btns-fim{
            margin-top: 10px;
            width: 100%;
            @include flex(row);
            input{
                outline: none;
                flex: 1;
                box-sizing: border-box;
                &:nth-child(1){
                    margin-right: 10px;
                    &:hover{
                        transition: 0.4s;
                        background-color: rgb(207, 28, 28);
                    }
                }
                &:nth-child(2){
                    &:hover{
                        transition: 0.4s;
                        background-color: rgb(3, 168, 3);
                    }
                }
                border: 1px solid rgb(17, 131, 207);
                border-radius: 10px;
                padding: 15px;
            }
        }
        .valor{
            padding: 10px;
            @include flex(column);
            span{
                text-align: center;
                width: 100%;
                &:nth-child(1){margin: 10px 0;}
            }
        }
    }
}