$texto: #0f1d2b;
$cor: #c8102e;

@mixin flex($flex-direction){
    display: flex;
    flex-direction: $flex-direction;
    justify-content: center;
    align-items: center;
}

@mixin butao($tam1, $tam2){
    color: #ffffff;
    background-color: $cor;
    border: none;
    padding: $tam1 $tam2; 
    font-weight: bolder;
}

body{
    padding: 0;
    margin: 0;
    font-family: "TiemposText",serif;
}
nav{
    width: 100vw;
    height: auto;
    position: sticky;
    z-index: 1000;
    background-color: #ffffff;
    top: 0;
    border-bottom: 1px solid #e0e0e0;
    .logo{
        width: 96px;
        height: 36px;
        @media screen and (min-width: 1280px){margin-right: 30px;}
    }
    .navigation{
        padding: 15px;
        @media screen and (min-width: 1280px){padding: 25px;}
        @include flex(row);
        flex-wrap: wrap;
        font-family: "Futura",sans-serif;
        .nav-pc{
            display: none;
            text-indent: 60px;
            padding: 0;
            list-style-type: none;
            font-weight: bolder;
            margin: 0 50px;
            a{
                color: $texto;
                text-decoration: none;
                &:hover{color: $cor;}
            }
            @media screen and (min-width: 1280px){@include flex(row);}
        }
        .push{
            display: flex;
            align-items: center;
            justify-content: end;
            margin-left: 30px;
            @media screen and (max-width:1279px){margin-left: auto;}
            svg{
                display: none;
                @media screen and (min-width: 1280px){
                    display: block;
                    margin-right: 40px;
                }
            }
            .doar{
                @include butao(1em, 1.75em);
                &:hover{
                    background-color: #e51232;
                    cursor: pointer;
                }
            }
            span{
                width: fit-content;
                height: fit-content;
                font-size: 1.5em;
                font-weight: 750;
                margin-left: 10px;
                @media screen and (min-width: 1280px){display: none;}
            }
        }
    }
}

main{
    width: 100vw;
    .join{
        width: 100vw;
        @include flex(column);
        flex-wrap: wrap;
        @media screen and (min-width: 1280px){flex-direction: row;}
        .mulher{
            width: 100%;
            height: auto;
            max-width: 912px;
            @media screen and (min-width: 1280px){width: 61%;}
        }
        .gift{
            z-index: 10;
            background-color: #fff8eb;
            @include flex(column);
            align-items: flex-start;
            max-width: 592px;
            margin-top: -24px;
            padding: 4.5%;
            @media screen and (min-width: 351px) and (max-width: 799px){
                margin-left: 24px;
                margin-right: 24px;
            }
            @media screen and (max-width:899px) and (min-width:800px){
                margin-left: 24px;
                margin-right: 24px;
                padding: 3.5%;
            }
            @media screen and (min-width:900px) and (max-width: 1279px){padding: 28px;}
            @media screen and (min-width: 1280px){
                box-sizing: border-box;
                position:relative;
                padding: 88px;
                order: -1;
                max-width: 592px;
                height: 490px;
                margin-right: -100px;
                margin-bottom: -24px;
            }
            h1{
                margin-top: 0;
                font-size: 2.3em;
            }
            p{
                margin-top: 0;
                font-size: 1.4em
            }
            a{
                button{
                    font-size: 1.125em;
                    @include butao(1em, 1.75em);
                }
            }
        }
    }
}
