body {
  padding: 0;
  margin: 0;
  font-family: "TiemposText", serif;
}

.wrapper {
  max-width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper nav {
  width: 100vw;
  max-width: 100%;
  height: auto;
  position: sticky;
  z-index: 1000;
  background-color: #ffffff;
  top: 0;
  border-bottom: 1px solid #e0e0e0;
}
.wrapper nav .logo {
  width: 96px;
  height: 36px;
}
@media screen and (min-width: 1280px) {
  .wrapper nav .logo {
    margin-right: 30px;
  }
}
.wrapper nav .navigation {
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Futura", sans-serif;
}
@media screen and (min-width: 1280px) {
  .wrapper nav .navigation {
    padding: 25px;
  }
}
.wrapper nav .navigation .nav-pc {
  display: none;
  text-indent: 60px;
  padding: 0;
  list-style-type: none;
  font-weight: bolder;
  margin: 0 50px;
}
.wrapper nav .navigation .nav-pc a {
  color: #0f1d2b;
  text-decoration: none;
}
.wrapper nav .navigation .nav-pc a:hover {
  color: #c8102e;
}
@media screen and (min-width: 1280px) {
  .wrapper nav .navigation .nav-pc {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.wrapper nav .navigation .push {
  display: flex;
  align-items: center;
  margin-left: 30px;
}
@media screen and (max-width: 1279px) {
  .wrapper nav .navigation .push {
    margin-left: auto;
  }
}
.wrapper nav .navigation .push svg {
  display: none;
}
@media screen and (min-width: 1280px) {
  .wrapper nav .navigation .push svg {
    display: block;
    margin-right: 40px;
  }
}
.wrapper nav .navigation .push .doar {
  color: #ffffff;
  background-color: #c8102e;
  border: none;
  padding: 1em 1.75em;
  font-weight: bolder;
}
.wrapper nav .navigation .push .doar:hover {
  background-color: #e51232;
  cursor: pointer;
}
.wrapper nav .navigation .push span {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 1.5em;
  font-weight: 750;
  margin-left: 10px;
}
@media screen and (min-width: 1280px) {
  .wrapper nav .navigation .push span {
    display: none;
  }
}
.wrapper main {
  width: 100vw;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper main .join {
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (min-width: 1280px) {
  .wrapper main .join {
    flex-direction: row;
  }
}
.wrapper main .join .mulher {
  width: 100%;
  height: auto;
  max-width: 912px;
}
@media screen and (min-width: 1280px) {
  .wrapper main .join .mulher {
    width: 61vw;
  }
}
.wrapper main .join .gift {
  z-index: 10;
  background-color: #fff8eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  max-width: 592px;
  margin-top: -24px;
  padding: 4.5%;
}
@media screen and (min-width: 351px) and (max-width: 799px) {
  .wrapper main .join .gift {
    margin-left: 24px;
    margin-right: 24px;
  }
}
@media screen and (max-width: 899px) and (min-width: 800px) {
  .wrapper main .join .gift {
    margin-left: 24px;
    margin-right: 24px;
    padding: 3.5%;
  }
}
@media screen and (min-width: 900px) and (max-width: 1279px) {
  .wrapper main .join .gift {
    padding: 28px;
  }
}
@media screen and (min-width: 1280px) {
  .wrapper main .join .gift {
    box-sizing: border-box;
    position: relative;
    order: -1;
    max-width: 592px;
    margin-right: -100px;
    margin-bottom: -24px;
  }
}
.wrapper main .join .gift h1 {
  margin-top: 0;
  font-size: 2.3em;
}
.wrapper main .join .gift p {
  margin-top: 0;
  font-size: 1.4em;
}
.wrapper main .join .gift a button {
  font-size: 1.125em;
  color: #ffffff;
  background-color: #c8102e;
  border: none;
  padding: 1em 1.75em;
  font-weight: bolder;
}
.wrapper main .join .gift a button:hover {
  background-color: #e51232;
  cursor: pointer;
}
.wrapper main .container-global {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1150px;
  margin-bottom: 80px;
}
@media (min-width: 750px) {
  .wrapper main .container-global {
    padding: 64px 0;
  }
}
@media screen and (min-width: 1280px) {
  .wrapper main .container-global {
    border-bottom: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
  }
}
.wrapper main .container-global h1:nth-child(1) {
  width: 70%;
  text-align: center;
  font-size: 1.8em;
  margin-top: 0;
  margin-bottom: 64px;
}
@media screen and (min-width: 1280px) {
  .wrapper main .container-global h1:nth-child(1) {
    font-size: 2.6em;
  }
}
.wrapper main .container-global .global {
  box-sizing: border-box;
  padding: 0 20px;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.wrapper main .container-global .global h1 {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
}
.wrapper main .container-global .global li {
  box-sizing: border-box;
  width: 50%;
  padding: 24px;
  padding-top: 0;
  font-size: 1.25em;
}
@media (min-width: 800px) {
  .wrapper main .container-global .global li {
    padding: 32px;
    padding-top: 0;
    width: 25%;
  }
}
.wrapper main .container-global .global li p {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
}
.wrapper main .container-global .global li p span:nth-child(1) {
  font-size: 2em;
  font-weight: bolder;
  margin-right: 10px;
}
.wrapper main .featured {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 80px;
}
.wrapper main .featured h1:nth-child(1) {
  margin-top: 0;
  margin-bottom: 80px;
}
@media (min-width: 750px) {
  .wrapper main .featured h1:nth-child(1) {
    font-size: 2.5em;
  }
}
.wrapper main .featured .featured-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 750px) {
  .wrapper main .featured .featured-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    row-gap: 50px;
  }
}
.wrapper main .featured .featured-content .f-hover {
  text-decoration: none;
  color: #0f1d2b;
}
.wrapper main .featured .featured-content .f-hover:hover h2 {
  color: #c8102e;
  font-weight: bolder;
}
.wrapper main .featured .featured-content .f-items {
  margin-bottom: 100px;
  align-items: flex-start;
  padding: 0 24px;
}
@media (min-width: 750px) {
  .wrapper main .featured .featured-content .f-items {
    max-width: 357px;
  }
}
.wrapper main .featured .featured-content .f-items img {
  width: 100%;
  height: auto;
}
.wrapper main .featured .featured-content .f-items p:nth-child(2) {
  margin-bottom: 0;
}
.wrapper main .featured .featured-content .f-items p:nth-child(4) {
  font-size: 1.35em;
  margin-top: 0;
}
.wrapper main .featured .featured-content .f-items a {
  z-index: 10;
}
.wrapper main .featured .featured-content .f-items a button {
  border: none;
  background-color: transparent;
  font-size: 1em;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0;
}
.wrapper main .featured .featured-content .f-items a button:hover {
  cursor: pointer;
}
.wrapper main .featured .featured-content .f-items a button span:nth-child(1) {
  font-size: 0.9em;
  font-weight: bolder;
  display: none;
}
@media (min-width: 750px) {
  .wrapper main .featured .featured-content .f-items a button span:nth-child(1) {
    display: inline-block;
    font-size: 1em;
  }
}
.wrapper main .featured .featured-content .f-items a button span:nth-child(2) {
  font-size: 1.5em;
}
.wrapper main .featured .see-stories button {
  font-size: 1.125em;
  color: #ffffff;
  background-color: #c8102e;
  border: none;
  padding: 1em 1.75em;
  font-weight: bolder;
  background-color: #18a1c3;
  padding: 5px 15px;
}
.wrapper main .featured .see-stories button span {
  font-size: 2em;
}
.wrapper main .featured .border1 {
  width: 50%;
  padding-bottom: 72px;
  border-bottom: 1px solid #e0e0e0;
}
@media (min-width: 750px) {
  .wrapper main .featured .border1 {
    padding-bottom: 120px;
  }
}/*# sourceMappingURL=estilos.css.map */