$texto: #0f1d2b;
$cor: #c8102e;

body{
    padding: 0;
    margin: 0;
    font-family: "TiemposText",serif;
}
nav{
    width: 100vw;
    height: auto;
    position: sticky;
    z-index: 100;
    background-color: #ffffff;
    top: 0;
    .logo{
        width: 96px;
        height: 36px;
        @media screen and (min-width: 1280px){
            margin-right: 30px;
            justify-self: end;
        }
    }
    .navigation{
        position: sticky;
        padding: 15px;
        @media screen and (min-width: 1280px){padding: 25px;}
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        font-family: "Futura",sans-serif;
        @media screen and (min-width: 1280px){
            display: grid;
            grid-template-columns: 1fr 3fr 1fr;
            grid-template-rows: 1;
        }
        .nav-center{
            display: flex;
            flex-direction: row;
            justify-content: center;
            .nav-pc{
                text-indent: 60px;
                padding: 0;
                a{
                    color: $texto;
                    text-decoration: none;
                }
                display: none;
                font-weight: bolder;
                @media screen and (min-width: 1280px){display: block;}
                list-style-type: none;
                &:hover{
                    cursor: pointer;
                    color: $cor;
                }
                .escondido{display: none;}
            }
        }
        .push{
            display: flex;
            align-items: center;
            justify-content: end;
            margin-left: 30px;
            @media screen and (min-width: 1280px){
                justify-self: start;
            }
            svg{
                display: none;
                @media screen and (min-width: 1280px){
                    display: block;
                    margin-right: 40px;
                }
            }
            a{
                height: fit-content;
                &:nth-child(3){
                    margin-left: 15px;
                }
                &:nth-child(3) button{
                    border: none;
                    width: fit-content;
                    height: fit-content;
                    background-color: transparent;
                    color: none;
                    padding: 0;
                    &:hover{
                        cursor: pointer;
                    }
                    span{
                        font-size: 1.5em;
                        font-weight: 750;
                    }
                    @media screen and (min-width: 1280px){display: none;}
                }
            }
            .doar{
                color: #ffffff;
                background-color: $cor;
                border: none;
                padding: 1em 1.75em; 
                font-weight: bolder;
                &:hover{
                    background-color: #e51232;
                    cursor: pointer;
                }
            }
            @media screen and (max-width:1279px){
                margin-left: auto;
            }
        }
    }

}


main{
    .container-pop{
        display: flex;
        flex-direction: row;
        width: 100vw;
        background-color: $cor;
        color: #ffffff;
        font-size: 1.0625rem;
        .item-pop{
            display: flex;
            list-style-type: none;
            flex-direction: column;
            padding-left: 20px;
            width: 90vw;
            li{
                margin: 10px 0;
                &:nth-child(1){
                    font-weight: bolder;
                }
                &:nth-child(3){
                    button{
                        border: 1px solid #ffffff;
                        color: #ffffff;
                        background-color: $cor;
                        padding: 0.5em 1em;
                        font-weight: bolder;
                    }
                }
            }
        }
        .fechar-pop{
            font-weight: bolder;
            font-size: 1.2em;
            margin-top: 17px;
            &:hover{
                cursor: pointer;
            }
            //fechar depois
        }
    }
    .c-hero{
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 1.5rem;
        position: relative;
        text-align: right;
        width: 100vw;
    }   
    .tex{
        align-self: flex-start;
        bottom: -51px;
        display: block;
        margin: 0;
        padding: 5vw;
        position: absolute;
        transform: none;
        width: 47vw;
        z-index: 1;  
        background-color: #fff8eb;  
    }
        
    
    .titulo_tex{
        margin-bottom: 2rem;
        color: $texto;    
        font-family: "TiemposText",serif;
        font-weight: 600;
        margin-bottom: 1.5rem;
        flex: 0 1 auto;
        flex-basis: 65%;
        -ms-flex-preferred-size: auto;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
    }

    .tex_tex{
        color: $texto;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        -webkit-marquee-increment: 0vw;
        margin: 0 0 1rem;
    
    }
    .gift_button{
        color: #ffffff;
        background-color: #c8102e;
        border: none;
        padding: 1em 1.75em; 
        font-weight: bolder;
            &:hover{
                background-color: #e51232;
                cursor: pointer;
            }
    }
    .mulher{
        border: 0;
        height: auto;
        max-width: 100%;
        vertical-align: middle;
        overflow: clip;
        --scrollbar-width: 15px;
        width: 410px;
        aspect-ratio: auto 410 / 273;
        height: 273px;
        border-style: none;


    }
}
