body {
  padding: 0;
  margin: 0;
  font-family: "TiemposText", serif;
}

nav {
  width: 100vw;
  height: auto;
  position: sticky;
  z-index: 1000;
  background-color: #ffffff;
  top: 0;
  border-bottom: 1px solid #e0e0e0;
}
nav .logo {
  width: 96px;
  height: 36px;
}
@media screen and (min-width: 1280px) {
  nav .logo {
    margin-right: 30px;
  }
}
nav .navigation {
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Futura", sans-serif;
}
@media screen and (min-width: 1280px) {
  nav .navigation {
    padding: 25px;
  }
}
nav .navigation .nav-pc {
  display: none;
  text-indent: 60px;
  padding: 0;
  list-style-type: none;
  font-weight: bolder;
  margin: 0 50px;
}
nav .navigation .nav-pc a {
  color: #0f1d2b;
  text-decoration: none;
}
nav .navigation .nav-pc a:hover {
  color: #c8102e;
}
@media screen and (min-width: 1280px) {
  nav .navigation .nav-pc {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
nav .navigation .push {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-left: 30px;
}
@media screen and (max-width: 1279px) {
  nav .navigation .push {
    margin-left: auto;
  }
}
nav .navigation .push svg {
  display: none;
}
@media screen and (min-width: 1280px) {
  nav .navigation .push svg {
    display: block;
    margin-right: 40px;
  }
}
nav .navigation .push .doar {
  color: #ffffff;
  background-color: #c8102e;
  border: none;
  padding: 1em 1.75em;
  font-weight: bolder;
}
nav .navigation .push .doar:hover {
  background-color: #e51232;
  cursor: pointer;
}
nav .navigation .push span {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 1.5em;
  font-weight: 750;
  margin-left: 10px;
}
@media screen and (min-width: 1280px) {
  nav .navigation .push span {
    display: none;
  }
}

main {
  width: 100vw;
}
main .join {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (min-width: 1280px) {
  main .join {
    flex-direction: row;
  }
}
main .join .mulher {
  width: 100%;
  height: auto;
  max-width: 912px;
}
@media screen and (min-width: 1280px) {
  main .join .mulher {
    width: 61%;
  }
}
main .join .gift {
  z-index: 10;
  background-color: #fff8eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  max-width: 592px;
  margin-top: -24px;
  padding: 4.5%;
}
@media screen and (min-width: 351px) and (max-width: 799px) {
  main .join .gift {
    margin-left: 24px;
    margin-right: 24px;
  }
}
@media screen and (max-width: 899px) and (min-width: 800px) {
  main .join .gift {
    margin-left: 24px;
    margin-right: 24px;
    padding: 3.5%;
  }
}
@media screen and (min-width: 900px) and (max-width: 1279px) {
  main .join .gift {
    padding: 28px;
  }
}
@media screen and (min-width: 1280px) {
  main .join .gift {
    box-sizing: border-box;
    position: relative;
    padding: 88px;
    order: -1;
    max-width: 592px;
    height: 490px;
    margin-right: -100px;
    margin-bottom: -24px;
  }
}
main .join .gift h1 {
  margin-top: 0;
  font-size: 2.3em;
}
main .join .gift p {
  margin-top: 0;
  font-size: 1.4em;
}
main .join .gift a button {
  font-size: 1.125em;
  color: #ffffff;
  background-color: #c8102e;
  border: none;
  padding: 1em 1.75em;
  font-weight: bolder;
}/*# sourceMappingURL=estilos.css.map */