body {
  padding: 0;
  margin: 0;
  font-family: "TiemposText", serif;
}

.wrapper {
  max-width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper nav {
  width: 100vw;
  max-width: 100%;
  height: auto;
  position: sticky;
  z-index: 1000;
  background-color: #ffffff;
  top: 0;
  border-bottom: 1px solid #e0e0e0;
}
.wrapper nav .logo {
  width: 96px;
  height: 36px;
}
@media screen and (min-width: 1280px) {
  .wrapper nav .logo {
    margin-right: 30px;
  }
}
.wrapper nav .navigation {
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Futura", sans-serif;
}
@media screen and (min-width: 1280px) {
  .wrapper nav .navigation {
    padding: 25px;
  }
}
.wrapper nav .navigation .nav-pc {
  display: none;
  text-indent: 60px;
  padding: 0;
  list-style-type: none;
  font-weight: bolder;
  margin: 0 50px;
}
.wrapper nav .navigation .nav-pc a {
  color: #0f1d2b;
  text-decoration: none;
}
.wrapper nav .navigation .nav-pc a:hover {
  color: #c8102e;
}
@media screen and (min-width: 1280px) {
  .wrapper nav .navigation .nav-pc {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.wrapper nav .navigation .push {
  display: flex;
  align-items: center;
  margin-left: 30px;
}
@media screen and (max-width: 1279px) {
  .wrapper nav .navigation .push {
    margin-left: auto;
  }
}
.wrapper nav .navigation .push svg {
  display: none;
}
@media screen and (min-width: 1280px) {
  .wrapper nav .navigation .push svg {
    display: block;
    margin-right: 40px;
  }
}
.wrapper nav .navigation .push .doar {
  color: #ffffff;
  background-color: #c8102e;
  border: none;
  padding: 1em 1.75em;
  font-weight: bolder;
}
.wrapper nav .navigation .push .doar:hover {
  background-color: #e51232;
  cursor: pointer;
}
.wrapper nav .navigation .push span {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 1.5em;
  font-weight: 750;
  margin-left: 10px;
}
@media screen and (min-width: 1280px) {
  .wrapper nav .navigation .push span {
    display: none;
  }
}
.wrapper main {
  width: 100vw;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper main .join {
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (min-width: 1280px) {
  .wrapper main .join {
    flex-direction: row;
  }
}
.wrapper main .join .mulher {
  width: 100%;
  height: auto;
  max-width: 912px;
}
@media screen and (min-width: 1280px) {
  .wrapper main .join .mulher {
    width: 61vw;
  }
}
.wrapper main .join .gift {
  z-index: 10;
  background-color: #fff8eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  max-width: 592px;
  margin-top: -24px;
  padding: 4.5%;
}
@media screen and (min-width: 351px) and (max-width: 799px) {
  .wrapper main .join .gift {
    margin-left: 24px;
    margin-right: 24px;
  }
}
@media screen and (max-width: 899px) and (min-width: 800px) {
  .wrapper main .join .gift {
    margin-left: 24px;
    margin-right: 24px;
    padding: 3.5%;
  }
}
@media screen and (min-width: 900px) and (max-width: 1299px) {
  .wrapper main .join .gift {
    padding: 28px;
  }
}
@media screen and (min-width: 1300px) {
  .wrapper main .join .gift {
    box-sizing: border-box;
    position: relative;
    order: -1;
    max-width: 592px;
    margin-right: -100px;
    margin-bottom: -24px;
  }
}
.wrapper main .join .gift h1 {
  margin-top: 0;
  font-size: 2.3em;
}
.wrapper main .join .gift p {
  margin-top: 0;
  font-size: 1.4em;
}
.wrapper main .join .gift a button {
  font-size: 1.125em;
  color: #ffffff;
  background-color: #c8102e;
  border: none;
  padding: 1em 1.75em;
  font-weight: bolder;
}
.wrapper main .join .gift a button:hover {
  background-color: #e51232;
  cursor: pointer;
}
.wrapper main .container-global {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1150px;
  margin-bottom: 80px;
}
@media (min-width: 750px) {
  .wrapper main .container-global {
    padding: 64px 0;
  }
}
@media screen and (min-width: 1280px) {
  .wrapper main .container-global {
    border-bottom: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
  }
}
.wrapper main .container-global h1:nth-child(1) {
  width: 70%;
  text-align: center;
  font-size: 1.8em;
  margin-top: 0;
  margin-bottom: 64px;
}
@media screen and (min-width: 1280px) {
  .wrapper main .container-global h1:nth-child(1) {
    font-size: 2.6em;
  }
}
.wrapper main .container-global .global {
  box-sizing: border-box;
  padding: 0 20px;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.wrapper main .container-global .global h1 {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
}
.wrapper main .container-global .global li {
  box-sizing: border-box;
  width: 50%;
  padding: 24px;
  padding-top: 0;
  font-size: 1.25em;
}
@media (min-width: 800px) {
  .wrapper main .container-global .global li {
    padding: 32px;
    padding-top: 0;
    width: 25%;
  }
}
.wrapper main .container-global .global li p {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
}
.wrapper main .container-global .global li p span:nth-child(1) {
  font-size: 2em;
  font-weight: bolder;
  margin-right: 10px;
}
.wrapper main .featured {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 80px;
}
.wrapper main .featured h1:nth-child(1) {
  margin-top: 0;
  margin-bottom: 80px;
}
@media (min-width: 750px) {
  .wrapper main .featured h1:nth-child(1) {
    font-size: 2.5em;
  }
}
.wrapper main .featured .featured-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 750px) {
  .wrapper main .featured .featured-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    row-gap: 50px;
  }
}
.wrapper main .featured .featured-content .f-hover {
  text-decoration: none;
  color: #0f1d2b;
}
.wrapper main .featured .featured-content .f-hover:hover h2 {
  color: #c8102e;
  font-weight: bolder;
}
.wrapper main .featured .featured-content .f-items {
  margin-bottom: 100px;
  align-items: flex-start;
  padding: 0 24px;
}
@media (min-width: 750px) {
  .wrapper main .featured .featured-content .f-items {
    max-width: 357px;
  }
}
.wrapper main .featured .featured-content .f-items img {
  width: 100%;
  height: auto;
}
.wrapper main .featured .featured-content .f-items p:nth-child(2) {
  margin-bottom: 0;
}
.wrapper main .featured .featured-content .f-items p:nth-child(4) {
  font-size: 1.35em;
  margin-top: 0;
}
.wrapper main .featured .featured-content .f-items a {
  z-index: 10;
}
.wrapper main .featured .featured-content .f-items a button {
  border: none;
  background-color: transparent;
  font-size: 1em;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0;
}
.wrapper main .featured .featured-content .f-items a button:hover {
  cursor: pointer;
}
.wrapper main .featured .featured-content .f-items a button span:nth-child(1) {
  font-size: 0.9em;
  font-weight: bolder;
  display: none;
}
@media (min-width: 750px) {
  .wrapper main .featured .featured-content .f-items a button span:nth-child(1) {
    display: inline-block;
    font-size: 1em;
  }
}
.wrapper main .featured .featured-content .f-items a button span:nth-child(2) {
  font-size: 1.5em;
}
.wrapper main .featured .container-see-stories {
  width: 100%;
}
@media (min-width: 750px) {
  .wrapper main .featured .container-see-stories {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.wrapper main .featured .container-see-stories .see-stories {
  padding: 0 24px;
}
.wrapper main .featured .container-see-stories .see-stories button {
  font-size: 1.125em;
  color: #ffffff;
  background-color: #c8102e;
  border: none;
  padding: 1em 1.75em;
  font-weight: bolder;
  background-color: #18a1c3;
  padding: 7px 15px;
  padding-top: 0;
}
.wrapper main .featured .container-see-stories .see-stories button:hover {
  background-color: #00bfee;
  cursor: pointer;
}
.wrapper main .featured .container-see-stories .see-stories button span {
  font-size: 2em;
}
.wrapper main .featured .border1 {
  width: 50%;
  padding-bottom: 72px;
  border-bottom: 1px solid #e0e0e0;
}
@media (min-width: 750px) {
  .wrapper main .featured .border1 {
    padding-bottom: 120px;
    max-width: 1000px;
  }
}
.wrapper main .press {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 24px;
  padding-bottom: 72px;
  margin-bottom: 72px;
}
@media (min-width: 750px) {
  .wrapper main .press {
    padding-bottom: 129px;
    margin-bottom: 120px;
  }
}
.wrapper main .press h1:nth-child(1) {
  text-align: center;
  font-size: 1.7em;
  padding: 0 10px;
  margin: 0;
  margin-bottom: 48px;
}
@media (min-width: 750px) {
  .wrapper main .press h1:nth-child(1) {
    font-size: 2.5em;
  }
}
.wrapper main .press .press-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin-bottom: 120px;
}
@media (min-width: 750px) {
  .wrapper main .press .press-content {
    flex-direction: row;
  }
}
.wrapper main .press .press-content .noticia-hover {
  color: #0f1d2b;
  text-decoration: none;
}
.wrapper main .press .press-content .noticia-hover:hover h2 {
  color: #c8102e;
  cursor: pointer;
}
.wrapper main .press .press-content .noticia {
  padding: 32px;
  background-color: #ecfbfc;
  height: 100%;
}
@media (min-width: 750px) {
  .wrapper main .press .press-content .noticia {
    padding: 64px 48px;
  }
}
@media (min-width: 1280px) {
  .wrapper main .press .press-content .noticia {
    box-sizing: border-box;
    padding: 64px 48px;
    padding-left: 144px;
    max-width: 630px;
  }
}
.wrapper main .press .press-content .noticia p:nth-child(1) {
  font-size: 0.875em;
  margin-bottom: 0;
}
.wrapper main .press .press-content .noticia h2 {
  margin: 16px 0;
}
@media (min-width: 750px) {
  .wrapper main .press .press-content .noticia h2 {
    font-size: 2.5em;
  }
}
.wrapper main .press .press-content .noticia p:nth-child(3) {
  margin-top: 0;
  font-size: 1.2em;
}
@media (min-width: 750px) {
  .wrapper main .press .press-content .noticia p:nth-child(3) {
    font-size: 1.5em;
  }
}
.wrapper main .press .press-content .noticia a button {
  color: #ffffff;
  background-color: #c8102e;
  border: none;
  padding: 1em 1.75em;
  font-weight: bolder;
  background-color: transparent;
  color: #000000;
  padding: 0;
}
.wrapper main .press .press-content .noticia a button:hover {
  cursor: pointer;
}
.wrapper main .press .press-content .noticia a button span {
  display: none;
}
@media (min-width: 750px) {
  .wrapper main .press .press-content .noticia a button {
    font-size: 1.05em;
    font-weight: bold;
  }
  .wrapper main .press .press-content .noticia a button span {
    display: inline-block;
  }
  .wrapper main .press .press-content .noticia a button svg {
    margin-left: 10px;
  }
}
.wrapper main .press .press-content .container-noticias {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 750px) {
  .wrapper main .press .press-content .container-noticias {
    padding-left: 48px;
  }
}
.wrapper main .press .press-content .container-noticias .noticia-espaco {
  margin-bottom: 64px;
}
@media (min-width: 750px) {
  .wrapper main .press .press-content .container-noticias .noticia-espaco {
    margin-bottom: 20px;
    padding-bottom: 32px;
    border-bottom: 1px solid #e0e0e0;
  }
}
.wrapper main .press .press-content .container-noticias .noticias1 {
  width: 100%;
}
.wrapper main .press .press-content .container-noticias .noticias1 p {
  font-size: 0.9em;
}
.wrapper main .press .press-content .container-noticias .noticias1 a button {
  color: #ffffff;
  background-color: #c8102e;
  border: none;
  padding: 1em 1.75em;
  font-weight: bolder;
  background-color: transparent;
  color: #000000;
  padding: 0;
  font-size: 1.15em;
}
.wrapper main .press .press-content .container-noticias .noticias1 a button:hover {
  cursor: pointer;
}
.wrapper main .press .press-content .container-noticias .noticias1 a button span:nth-child(1) {
  display: none;
}
@media (min-width: 750px) {
  .wrapper main .press .press-content .container-noticias .noticias1 a button span:nth-child(1) {
    display: inline-block;
  }
}
.wrapper main .press .container-see-news {
  width: 100%;
}
@media (min-width: 750px) {
  .wrapper main .press .container-see-news {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.wrapper main .press .container-see-news .see-news button {
  font-size: 1.125em;
  color: #ffffff;
  background-color: #c8102e;
  border: none;
  padding: 1em 1.75em;
  font-weight: bolder;
  background-color: #18a1c3;
  padding: 7px 15px;
  padding-top: 0;
}
.wrapper main .press .container-see-news .see-news button:hover {
  background-color: #00bfee;
  cursor: pointer;
}
.wrapper main .press .container-see-news .see-news button span {
  font-size: 2em;
}
.wrapper main .press .border2 {
  width: 90%;
  padding-bottom: 72px;
  border-bottom: 1px solid #e0e0e0;
}
@media (min-width: 750px) {
  .wrapper main .press .border2 {
    padding-bottom: 120px;
    width: 60%;
    max-width: 1000px;
  }
}
.wrapper main .about-container {
  width: 100%;
  margin-bottom: 80px;
}
.wrapper main .about-container .about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 24px;
}
.wrapper main .about-container .about .about-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin-bottom: 72px;
}
@media (min-width: 750px) {
  .wrapper main .about-container .about .about-items {
    flex-direction: row;
  }
  .wrapper main .about-container .about .about-items img {
    max-height: 610px;
    max-width: 486px;
    margin-right: 132px;
  }
}
.wrapper main .about-container .about .about-items img {
  width: 100%;
  height: auto;
}
@media (min-width: 750px) and (max-width: 1300px) {
  .wrapper main .about-container .about .about-items img {
    width: 40%;
    margin-right: 80px;
  }
}
.wrapper main .about-container .about .about-items div {
  min-width: 40%;
}
.wrapper main .about-container .about .about-items div h2 {
  margin-bottom: 24px;
}
@media (min-width: 750px) {
  .wrapper main .about-container .about .about-items div h2 {
    font-size: 2.3em;
  }
}
.wrapper main .about-container .about .about-items div p {
  color: #0f1d2b;
  font-size: 1.18em;
  margin-top: 0;
  margin-bottom: 30px;
}
@media (min-width: 750px) {
  .wrapper main .about-container .about .about-items div p {
    font-size: 1.5em;
  }
}
.wrapper main .about-container .about .about-items div a button {
  color: #ffffff;
  background-color: #c8102e;
  border: none;
  padding: 1em 1.75em;
  font-weight: bolder;
  background-color: transparent;
  color: #000000;
  padding: 0;
  font-size: 1.15em;
}
.wrapper main .about-container .about .about-items div a button:hover {
  cursor: pointer;
}
.wrapper main .about-container .about .border3 {
  width: 90%;
  padding-bottom: 72px;
  border-bottom: 1px solid #e0e0e0;
}
@media (min-width: 750px) {
  .wrapper main .about-container .about .border3 {
    padding-bottom: 120px;
    width: 60%;
    max-width: 1000px;
  }
}
.wrapper main .join-us-container {
  width: 100%;
}
.wrapper main .join-us-container .join-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 24px;
}
.wrapper main .join-us-container .join-us .join-us-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: #ecfbfc;
  padding: 48px 32px;
  width: 100%;
  max-width: 1200px;
}
@media (min-width: 900px) {
  .wrapper main .join-us-container .join-us .join-us-items {
    flex-direction: row;
    padding: 72px;
  }
}
.wrapper main .join-us-container .join-us .join-us-items h1 {
  margin: 0;
  margin-bottom: 32px;
  font-size: 2.3em;
}
@media (min-width: 900px) and (max-width: 1249px) {
  .wrapper main .join-us-container .join-us .join-us-items h1 {
    width: 70%;
    font-size: 2.5em;
    margin: 0;
    margin-right: 10px;
  }
}
@media (min-width: 1250px) {
  .wrapper main .join-us-container .join-us .join-us-items h1 {
    width: 70%;
    font-size: 4.2em;
    margin: 0;
  }
}
.wrapper main .join-us-container .join-us .join-us-items .explore button {
  font-size: 0.8em;
  color: #ffffff;
  background-color: #c8102e;
  border: none;
  padding: 1em 1.75em;
  font-weight: bolder;
  background-color: #18a1c3;
  padding: 7px 15px;
  padding-top: 0;
}
@media (min-width: 500px) {
  .wrapper main .join-us-container .join-us .join-us-items .explore button {
    font-size: 1.125em;
  }
}
@media (min-width: 900px) and (max-width: 1249px) {
  .wrapper main .join-us-container .join-us .join-us-items .explore button {
    min-width: 260px;
  }
}
.wrapper main .join-us-container .join-us .join-us-items .explore button:hover {
  background-color: #00bfee;
  cursor: pointer;
}
.wrapper main .join-us-container .join-us .join-us-items .explore button span {
  font-size: 2em;
}
.wrapper main .join-us-container .join-us .border4 {
  width: 90%;
  padding-bottom: 72px;
  border-bottom: 1px solid #e0e0e0;
}
@media (min-width: 750px) {
  .wrapper main .join-us-container .join-us .border4 {
    padding-bottom: 120px;
    width: 60%;
    max-width: 1000px;
  }
}
.wrapper main .join-us-container .join-us .info {
  max-width: 690px;
  font-size: 1.2em;
  margin: 72px 0;
}
.wrapper main .join-us-container .join-us .info span {
  font-weight: bolder;
}
.wrapper main .join-us-container .join-us .info a {
  color: #c8102e;
}
.wrapper footer {
  width: 100%;
  background-color: #f8f8f8;
}
@media (min-width: 750px) {
  .wrapper footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.wrapper footer .footer-items {
  padding: 40px 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: "Futura", sans-serif;
}
.wrapper footer .footer-items a {
  color: #0f1d2b;
  text-decoration: none;
}
.wrapper footer .footer-items ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.wrapper footer .footer-items .lista {
  margin-bottom: 56px;
  width: -moz-fit-content;
  width: fit-content;
}
.wrapper footer .footer-items .lista li:nth-child(1) {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 20px;
}
.wrapper footer .footer-items .lista li {
  font-size: 1.05em;
  margin: 10px 0;
}
.wrapper footer .footer-items .lista li a:hover {
  color: #c8102e;
}
.wrapper footer .footer-items .socials {
  padding-bottom: 64px;
}
.wrapper footer .footer-items .socials svg {
  scale: 130%;
}
.wrapper footer .footer-items .socials a:nth-child(2) {
  margin: 0 40px;
}
.wrapper footer .footer-items .socials a:hover svg path {
  fill: #c8102e;
}
.wrapper footer .footer-items .join-email {
  max-width: 620px;
  margin-bottom: 56px;
}
.wrapper footer .footer-items .join-email input[type=email] {
  box-sizing: border-box;
  width: 100%;
  max-width: 300px;
  border: 1px solid #18a1c3;
  font-size: 1.3em;
  font-weight: bolder;
  padding: 15px;
}
.wrapper footer .footer-items .join-email input[type=email]::-moz-placeholder {
  color: #b6c7d4;
}
.wrapper footer .footer-items .join-email input[type=email]::placeholder {
  color: #b6c7d4;
}
.wrapper footer .footer-items .join-email p {
  margin: 20px 0;
  font-size: 0.75em;
}
.wrapper footer .footer-items .join-email p a {
  color: #c8102e;
}
.wrapper footer .footer-items .join-email .sign-up {
  font-size: 1.125em;
  color: #ffffff;
  background-color: #c8102e;
  border: none;
  padding: 0.65em 0.9em;
  font-weight: bolder;
  background-color: #18a1c3;
}
.wrapper footer .footer-items .join-email .sign-up:hover {
  background-color: #00bfee;
  cursor: pointer;
}
.wrapper footer .footer-items .footer-stats {
  display: flex;
  max-width: 272px;
  margin-bottom: 56px;
}
.wrapper footer .footer-items .footer-stats img {
  width: 96px;
  height: 96px;
  margin-right: 20px;
}
.wrapper footer .footer-items .footer-stats div {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.wrapper footer .footer-items .footer-stats div p {
  margin: 0;
  margin-bottom: 10px;
  font-size: 0.875em;
}
.wrapper footer .footer-items .footer-stats div a button {
  color: #ffffff;
  background-color: #c8102e;
  border: none;
  padding: 1em 1.75em;
  font-weight: bolder;
  background-color: transparent;
  color: #000000;
  padding: 0;
  font-size: 0.75em;
}
.wrapper footer .footer-items .footer-stats div a button:hover {
  cursor: pointer;
}
.wrapper footer .footer-items .lista-fim {
  display: flex;
  flex-direction: column;
}
.wrapper footer .footer-items .lista-fim li {
  font-size: 0.75em;
  margin: 15px 0;
  width: -moz-fit-content;
  width: fit-content;
}
.wrapper footer .footer-items .lista-fim li a:hover {
  color: #c8102e;
}
@media (max-width: 749px) {
  .wrapper footer .footer-items .lista-fim .fundo {
    order: 10;
  }
}
@media (min-width: 750px) {
  .wrapper footer .footer-items {
    padding: 40px 76px;
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
  }
  .wrapper footer .footer-items .lista:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .wrapper footer .footer-items .lista:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .wrapper footer .footer-items .join-email {
    grid-column: 3/4;
    grid-row: 1/2;
    max-width: 300px;
    margin-left: auto;
  }
  .wrapper footer .footer-items .socials {
    grid-column: 1/4;
    grid-row: 2/3;
  }
  .wrapper footer .footer-items .lista-fim {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  .wrapper footer .footer-items .lista-fim li:nth-child(6) {
    margin-top: 48px;
  }
  .wrapper footer .footer-items .footer-stats {
    grid-column: 3/4;
    grid-row: 3/4;
    max-width: 300px;
    margin-left: auto;
  }
  .wrapper footer .footer-items .footer-stats #stat {
    width: 80px;
    height: 80px;
  }
}/*# sourceMappingURL=estilos.css.map */